 button{
     border-color:darkblue;
     background-color: cyan;
     font-size: 20px;
     border-radius: 20px;
    
 } 
  
 h1{
     font-size: 72px;
 }

 h4{
     font-size: 36px;
     color: cadetblue;
 }